.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background-color: rgb(85, 27, 112);
  .nav__links{
    display: flex;
    gap: 20px;
    &__item{
      color: #fff;
    }
  }
}

.dnone{
  display: none;
}
.dblock{
  display: block;
}